.song__row {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  z-index: 100;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.3s;
}

.song__row:hover {
  cursor: pointer;
  background-color: #000;
  opacity: 0.8;
}

.songRow__info {
  margin-left: 20px;
}

.songRow__info > h1 {
  font-size: 16px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: grey;
}

.songRow__album {
  height: 40px;
  width: 40px;
}
